!!! 5
html(lang='en')
  head
    // start: Meta
    meta(charset='utf-8')
    title fashion
    // end: Meta
    // start: Mobile Specific
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // end: Mobile Specific
    // start: CSS
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Droid+Serif')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Boogaloo')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Economica:700,400italic')
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    link(href='css/layerslider.css', rel='stylesheet', type='text/css')
    link(href='http://vjs.zencdn.net/c/video-js.css', rel='stylesheet')
    //if lt IE 9
      link(href='css/styleIE.css', rel='stylesheet')
    //if IE 9
      link(href='css/styleIE9.css', rel='stylesheet')
    // end: CSS
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    // start: Header
    header
      // start: Container
      .container
        // start: Navigation
        .navbar.navbar-inverse
          .navbar-inner
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='index.html') fashion
            .nav-collapse.collapse
              ul.nav
                li.video-nav.active
                  a(href='#video') video
                li.story-nav
                  a(href='#story') story
                li.login-nav
                  a(href='#login') login
                //-li.dropdown
                  //-a.dropdown-toggle(href='#', data-toggle='dropdown')
                    //-| trends
                    //-b.caret
                  //-ul.dropdown-menu
                    //-li
                      //-a(href='/') splurge vs. steal
        // end: Navigation
      // end: Container
    // end: Header
    // start: Container
    .container
      // start: Wrapper
      #wrapper
        // start: Wall
        #wall.row-fluid
        // end: Wall
      // end: Container
    // end: Wrapper
    // start: Footer

    #footer
      // start: Container
      .container
        // start: Row
        .row-fluid
          // start: About
          .span3
            h3 BY Software
            p
              i.fa-icon-map-marker
              | New York, NY 10017, USA
            p
              i.fa-icon-globe
              | Web: fashion.jit.su
          // end: About
          // start: Latest Tweets
        // end: Row
      // end: Container
    // end: Footer
    // start: Under Footer
    div#overlay
    video#my_video_1.video-js.vjs-default-skin(controls='controls', width='600', height='450', poster='', preload='auto')
      source(type='video/mp4', src='http://brightcove.hearstmags.com/4137370001/4137370001_1974058098001_DK-Woman-Mood-Video-Brightcove-HD2.mp4?videoId=1974024898001')
      script(src='http://vjs.zencdn.net/c/video.js')
      script
        var myPlayer = _V_("my_video_1");


    #under-footer
      // start: Container
      .container
        // start: Row
        .row-fluid
          // start: Under Footer Logo
          .span2
            #under-footer-logo
              a.brand(href='#') fashion
          // end: Under Footer Logo
          // start: Under Footer Copyright
          .span9
            #under-footer-copyright
              | © 2013,
              a(href='http://brianyang.com') BrianYang
          // end: Under Footer Copyright
          // start: Under Footer Back To Top
          .span1
            #under-footer-back-to-top
              a(href='#')
          // end: Under Footer Back To Top
        // end: Row
      // end: Container
    // end: Under Footer
    // start: Java Script

    script(src='js/jquery-1.8.2.js')
    script(src='js/isotope.js')
    script(src='js/jquery.imagesloaded.js')
    script(src='js/bootstrap.js')
    script(src='js/flexslider.js')
    script(src='js/carousel.js')
    script(src='js/jquery.cslider.js')
    script(src='js/slider.js')
    script(src='js/fancybox.js')
    script(src='js/twitter.js')
    script(src='js/jquery.placeholder.min.js')
    script(src='js/jquery-easing-1.3.js')
    script(src='js/jquery.layerslider.js')
    script(src='js/excanvas.js')
    script(src='js/jquery.flot.js')
    script(src='js/jquery.flot.pie.min.js')
    script(src='js/jquery.flot.stack.js')
    script(src='js/jquery.flot.resize.min.js')
    script(defer='defer', src='js/modernizr.js')
    script(defer='defer', src='js/retina.js')
    script(defer='defer', src='js/custom.js')
    script(src='//www.parsecdn.com/js/parse-1.2.0.min.js')
    script(src='/js/underscore-min.js')
    script(src='/js/handlebars.js')
    script(src='/js/fashion.js')
    script.entry-template(type='text/x-handlebars-template')
      .span3.item
        .picture
          a.image(href='{{url}}', title='{{image_title}}')
            img(src='{{extra_large_new_url}}', alt='')
            .description
              p(data-articleid='{{article_id}}')
                {{meta_title}}
            .meta
              span
                i.fa-icon-calendar
                | {{creation_date}}
              span
                i.fa-icon-user
                a(href='#') {{author_last_name}}
              span
                i.fa-icon-heart-empty
                | 88

    script.video-template(type='text/x-handlebars-template')
      .span3.item
        .video
          a.image.thumb(href="#play", title='{{image_title}}')
            img(src='{{extra_large_new_url}}', alt='')
            .description
              video(height="100%", width="100%", src="", poster='{{thumb_src}}', data-url_info='{{url_info}}')
                {{meta_title}}
            .meta
              span
                i.fa-icon-calendar
                | {{creation_date}}
              span
                i.fa-icon-user
                a(href='#') {{author_last_name}}
              span
                i.fa-icon-heart-empty
                | 88

