!!! 5
html(lang='en')
  head
    // start: Meta
    meta(charset='utf-8')
    title fashion
    // end: Meta
    // start: Mobile Specific
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // end: Mobile Specific
    // start: Facebook Open Graph
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:type', content='')
    meta(property='og:url', content='')
    meta(property='og:image', content='')
    // end: Facebook Open Graph
    // start: CSS
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Droid+Serif')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Boogaloo')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Economica:700,400italic')
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    link(href='css/layerslider.css', rel='stylesheet', type='text/css')
    //if lt IE 9
      link(href='css/styleIE.css', rel='stylesheet')
    //if IE 9
      link(href='css/styleIE9.css', rel='stylesheet')
    // end: CSS
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    // start: Header
    header
      // start: Container
      .container
        // start: Navigation
        .navbar.navbar-inverse
          .navbar-inner
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='index.html') fashion
            .nav-collapse.collapse
              ul.nav
                li.active
                  a(href='index.html') lifestyle
                li
                  a(href='/') scene
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | trends
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/') splurge vs. steal
                li
                  a(href='/') fashion week
                li
                  a(href='/') spotlight
        // end: Navigation
      // end: Container
    // end: Header
    // start: Container
    .container
      // start: Wrapper
      #wrapper
        // start: Wall
        #wall.row-fluid
          .span3.item
            .quotes
              .quote
                | “That’s not what we think design is. It’s not just what it looks like and feels like. Design is how it works”
              .author
                | - Steve Jobs -
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo5.jpg', alt='')
              .description
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item
            .quotes
              .quote
                | “In most people’s vocabularies, design means veneer. It’s interior decorating. It’s the fabric of the curtains of the sofa. But to me, nothing could be further from the meaning of design. Design is the fundamental soul of a human-made creation that ends up expressing itself in successive outer layers of the product or service.”
              .author
                | - Steve Jobs -
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo1.jpg', alt='')
              .description
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo9.jpg', alt='')
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo2.jpg', alt='')
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo3.jpg', alt='')
              .description
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo4.jpg', alt='')
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item
            .flex-video
              iframe(src='http://player.vimeo.com/video/3538565?portrait=0&color=ffffff', width='480', height='256', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo6.jpg', alt='')
              .description
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo7.jpg', alt='')
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo8.jpg', alt='')
              .description
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item.scenery
            .quotes
              .quote
                | “Innovation distinguishes between a leader and a follower.”
              .author
                | - Steve Jobs -
          .span3.item
            .quotes
              .quote
                | “Visual design is often the polar opposite of engineering: trading hard edges for subjective decisions based on gut feelings and personal experiences. It’s messy, unpredictable, and notoriously hard to measure. The apparently erratic behavior of artists drives engineers bananas. Their decisions seem arbitrary and risk everything with no guaranteed benefit.”
              .author
                | - Scott Stevenson -
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo10.jpg', alt='')
              .description
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo11.jpg', alt='')
              .description
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
          .span3.item
            .picture
              a.image(href='project.html', title='Title')
                img(src='img/photo12.jpg', alt='')
              .meta
                span
                  i.fa-icon-calendar
                  | 1 June 2011
                span
                  i.fa-icon-user
                  a(href='#') lucas
                span
                  i.fa-icon-heart-empty
                  | 88
        // end: Wall
      // end: Container
    // end: Wrapper
    // start: Footer
    #footer
      // start: Container
      .container
        // start: Row
        .row-fluid
          // start: About
          .span3
            h3 BY Software
            p
              i.fa-icon-map-marker
              | 132 E 45th St
            p
              i.fa-icon-map-marker
              | New York, NY 10017, USA
            p
              i.fa-icon-phone
              | Phone: (646) 820-1622
            p
              i.fa-icon-envelope
              | Email: none
            p
              i.fa-icon-globe
              | Web: fashion.jit.su
          // end: About
          // start: Latest Tweets
          .span3
            //-h3 Latest Tweets
            //-ul#twitter
            .clear
          // end: Latest Tweets
          // start: Photo Stream
          .span3
            //-h3 Flickr Photo Stream
            //-.flickr-widget
              //-script(type='text/javascript', src='http://www.flickr.com/badge_code_v2.gne?count=12&display=latest&size=s&layout=x&source=user&user=29609591@N08')
              //-.clear
          // end: Photo Stream
          // start: Follow Us
          .span3
            //-h3 Follow Us
            //-a.social-dribbble(href='#')
            //-a.social-twitter(href='#')
            //-a.social-flickr(href='#')
            //-a.social-facebook(href='#')
            //-a.social-linkedin(href='#')
            //-a.social-vimeo(href='#')
            //-a.social-youtube(href='#')
            //-a.social-delicious(href='#')
            //-a.social-rss(href='#')
            //-a.social-picassa(href='#')
            //-a.social-deviantart(href='#')
            //-a.social-technorati(href='#')
            //-a.social-stumbleupon(href='#')
            //-a.social-appstore(href='#')
            //-a.social-paypal(href='#')
            //-a.social-myspace(href='#')
            //-a.social-pinterest(href='#')
            //-a.social-soundcloud(href='#')
            //-a.social-behance(href='#')
            //-a.social-instagram(href='#')
            //-a.social-googleplus(href='#')
          // end: Follow Us
        // end: Row
      // end: Container
    // end: Footer
    // start: Under Footer
    #under-footer
      // start: Container
      .container
        // start: Row
        .row-fluid
          // start: Under Footer Logo
          .span2
            #under-footer-logo
              a.brand(href='#') fashion
          // end: Under Footer Logo
          // start: Under Footer Copyright
          .span9
            #under-footer-copyright
              | © 2013,
              a(href='http://brianyang.com') BrianYang
          // end: Under Footer Copyright
          // start: Under Footer Back To Top
          .span1
            #under-footer-back-to-top
              a(href='#')
          // end: Under Footer Back To Top
        // end: Row
      // end: Container
    // end: Under Footer
    // start: Java Script
    // Placed at the end of the document so the pages load faster
    script(src='js/jquery-1.8.2.js')
    script(src='js/isotope.js')
    script(src='js/jquery.imagesloaded.js')
    script(src='js/bootstrap.js')
    script(src='js/flexslider.js')
    script(src='js/carousel.js')
    script(src='js/jquery.cslider.js')
    script(src='js/slider.js')
    script(src='js/fancybox.js')
    script(src='js/twitter.js')
    script(src='js/jquery.placeholder.min.js')
    script(src='js/jquery-easing-1.3.js')
    script(src='js/jquery.layerslider.js')
    script(src='js/excanvas.js')
    script(src='js/jquery.flot.js')
    script(src='js/jquery.flot.pie.min.js')
    script(src='js/jquery.flot.stack.js')
    script(src='js/jquery.flot.resize.min.js')
    script(defer='defer', src='js/modernizr.js')
    script(defer='defer', src='js/retina.js')
    script(defer='defer', src='js/custom.js')
    script(src='//www.parsecdn.com/js/parse-1.2.0.min.js')
    script(src='/js/underscore-min.js')
    script(src='/js/handlebars.js')
    script(src='/js/fashion.js')
    script#entry-template(type='text/x-handlebars-template')
      .span3.item
        .picture
          a.image(href='{{url}}', title='{{image_title}}')
            img(src='{{extra_large_new_url}}', alt='')
            .description
              p(data-articleid='{{article_id}}')
                {{meta_title}}
            .meta
              span
                i.fa-icon-calendar
                | {{creation_date}}
              span
                i.fa-icon-user
                a(href='#') {{author_last_name}}
              span
                i.fa-icon-heart-empty
                | 88

